
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}



.img-profil img{
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 5px solid red;
}

.profile {
  color: white;
  font-size: 70px;
  border-radius: 10px;
  border: 2px dashed red;
  padding: 10px;
  margin-top: 0.5cm;
  --border-size: 3px;
  --border-angle: 0turn;
  
}


.location{
  display: flex; 
  justify-content: space-around;
  width: 38vw;
  
}
